###1. Write a code to reverse a string.

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example usage
input_string = "hello"
reversed_string = reverse_string(input_string)
print("Original string:", input_string)
print("Reversed string:", reversed_string)

Original string: hello
Reversed string: olleh

###2. Write a code to count the number of vowels in a string.

In [ ]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    count = sum(1 for char in s if char in vowels)
    return count

# Example usage
input_string = "hello world"
vowel_count = count_vowels(input_string)
print("Number of vowels in '{}':".format(input_string), vowel_count)

Number of vowels in 'hello world': 3

###3. Write a code to check if a given string is a palindrome or not.

In [ ]:
def is_palindrome(s):
    # Remove any spaces and convert to lowercase
    s = s.replace(" ", "").lower()
    # Check if the string is equal to its reverse
    return s == s[::-1]

# Example usage
input_string = "A man a plan a canal panama"
if is_palindrome(input_string):
    print("'{}' is a palindrome.".format(input_string))
else:
    print("'{}' is not a palindrome.".format(input_string))

'A man a plan a canal panama' is a palindrome.

###4. Write a code to check if two given strings are anagrams of each other.

In [ ]:
def are_anagrams(str1, str2):
    # Remove any spaces and convert to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters of both strings and compare
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
    print("'{}' and '{}' are anagrams.".format(string1, string2))
else:
    print("'{}' and '{}' are not anagrams.".format(string1, string2))

'listen' and 'silent' are anagrams.

###5. Write a code to find all occurrences of a given substring within another string.

In [ ]:
def find_all_occurrences(main_string, sub_string):
    start = 0
    indices = []
    while start < len(main_string):
        start = main_string.find(sub_string, start)
        if start == -1:
            break
        indices.append(start)
        start += 1  # Move to the next position after the found substring
    return indices

# Example usage
main_string = "abracadabra"
sub_string = "abra"
indices = find_all_occurrences(main_string, sub_string)
print("Occurrences of '{}' in '{}': {}".format(sub_string, main_string, indices))

Occurrences of 'abra' in 'abracadabra': [0, 7]

###6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
def compress_string(s):
    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    compressed.append(s[-1] + str(count))
    return ''.join(compressed)

# Example usage
input_string = "aabcccccaaa"
compressed_string = compress_string(input_string)
print("Original string:", input_string)
print("Compressed string:", compressed_string)

Original string: aabcccccaaa
Compressed string: a2b1c5a3

###7. Write a code to determine if a string has all unique characters.

In [ ]:
def has_unique_characters(s):
    # Use a set to track characters that have been seen
    seen_characters = set()

    for char in s:
        if char in seen_characters:
            return False
        seen_characters.add(char)

    return True

# Example usage
input_string = "abcdef"
if has_unique_characters(input_string):
    print("'{}' has all unique characters.".format(input_string))
else:
    print("'{}' does not have all unique characters.".format(input_string))

input_string = "hello"
if has_unique_characters(input_string):
    print("'{}' has all unique characters.".format(input_string))
else:
    print("'{}' does not have all unique characters.".format(input_string))

'abcdef' has all unique characters.
'hello' does not have all unique characters.

###8. Write a code to convert a given string to uppercase or lowercase.

In [ ]:
# To Convert a String to Uppercase:
def to_uppercase(s):
    return s.upper()

# Example usage
input_string = "hello, world!"
uppercase_string = to_uppercase(input_string)
print("Original string:", input_string)
print("Uppercase string:", uppercase_string)

Original string: hello, world!
Uppercase string: HELLO, WORLD!

In [ ]:
# To Convert a String to Lowercase:
def to_lowercase(s):
    return s.lower()

# Example usage
input_string = "HELLO, WORLD!"
lowercase_string = to_lowercase(input_string)
print("Original string:", input_string)

Original string: HELLO, WORLD!

###9. Write a code to count the number of words in a string.

In [ ]:
def count_words(s):
    # Split the string into words based on whitespace
    words = s.split()
    return len(words)

# Example usage
input_string = "Hello, how are you doing today?"
word_count = count_words(input_string)
print("Number of words in '{}':".format(input_string), word_count)

Number of words in 'Hello, how are you doing today?': 6

###10. Write a code to concatenate two strings without using the + operator.

In [ ]:
def concatenate_strings(str1, str2):
    return "{}{}".format(str1, str2)

# Example usage
string1 = "Hello, "
string2 = "world!"
result = concatenate_strings(string1, string2)
print("Concatenated string:", result)

Concatenated string: Hello, world!

###11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def remove_element(lst, element):
    return [x for x in lst if x != element]

# Example usage
input_list = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2
result_list = remove_element(input_list, element_to_remove)
print("Original list:", input_list)
print("Element to remove:", element_to_remove)
print("List after removal:", result_list)

Original list: [1, 2, 3, 4, 2, 5, 2, 6]
Element to remove: 2
List after removal: [1, 3, 4, 5, 6]

###12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
def find_second_largest(nums):
    if len(nums) < 2:
        return None  # Not enough elements to find the second largest

    first = second = float('-inf')

    for num in nums:
        if num > first:
            second = first
            first = num
        elif num > second and num != first:
            second = num

    return second if second != float('-inf') else None

# Example usage
input_list = [10, 15, 4, 7, 12, 20, 19]
second_largest = find_second_largest(input_list)
print("The second largest number in the list is:", second_largest)

The second largest number in the list is: 19

###13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [ ]:
def count_occurrences(lst):
    counts = {}
    for element in lst:
        if element in counts:
            counts[element] += 1
        else:
            counts[element] = 1
    return counts

# Example usage
input_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
occurrence_dict = count_occurrences(input_list)
print("Occurrences of each element:", occurrence_dict)

Occurrences of each element: {1: 1, 2: 2, 3: 3, 4: 4}

###14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [ ]:
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        # Swap the elements at left and right indices
        lst[left], lst[right] = lst[right], lst[left]
        # Move the pointers towards the center
        left += 1
        right -= 1

# Example usage
input_list = [1, 2, 3, 4, 5]
reverse_list(input_list)
print("Reversed list:", input_list)

Reversed list: [5, 4, 3, 2, 1]

###15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for element in lst:
        if element not in seen:
            result.append(element)
            seen.add(element)
    return result

# Example usage
input_list = [1, 2, 2, 3, 4, 3, 5, 1, 6]
unique_list = remove_duplicates(input_list)
print("Original list:", input_list)
print("List after removing duplicates:", unique_list)

Original list: [1, 2, 2, 3, 4, 3, 5, 1, 6]
List after removing duplicates: [1, 2, 3, 4, 5, 6]

###16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [ ]:
def is_sorted(lst):
    ascending = all(lst[i] <= lst[i+1] for i in range(len(lst)-1))
    descending = all(lst[i] >= lst[i+1] for i in range(len(lst)-1))
    return ascending or descending

# Example usage
input_list_ascending = [1, 2, 3, 4, 5]
input_list_descending = [5, 4, 3, 2, 1]
input_list_unsorted = [3, 1, 4, 2, 5]

print("List {} is sorted: {}".format(input_list_ascending, is_sorted(input_list_ascending)))
print("List {} is sorted: {}".format(input_list_descending, is_sorted(input_list_descending)))
print("List {} is sorted: {}".format(input_list_unsorted, is_sorted(input_list_unsorted)))

List [1, 2, 3, 4, 5] is sorted: True
List [5, 4, 3, 2, 1] is sorted: True
List [3, 1, 4, 2, 5] is sorted: False

###17. Write a code to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i = j = 0

    # Compare elements from both lists and merge them in sorted order
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Add the remaining elements from list1, if any
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Add the remaining elements from list2, if any
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

# Example usage
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = merge_sorted_lists(list1, list2)
print("Merged sorted list:", merged_list)

Merged sorted list: [1, 2, 3, 4, 5, 6, 7, 8]

###18. Implement a code to find the intersection of two given lists.

In [ ]:
def find_intersection(list1, list2):
    # Convert lists to sets and find the intersection
    intersection = set(list1) & set(list2)
    return list(intersection)

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersection_list = find_intersection(list1, list2)
print("Intersection of the two lists:", intersection_list)

Intersection of the two lists: [4, 5]

###19. Create a code to find the union of two lists without duplicates.

In [ ]:
def find_union(list1, list2):
    # Combine the lists and convert to a set to remove duplicates, then convert back to a list
    union_list = list(set(list1) | set(list2))
    return union_list

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
union_list = find_union(list1, list2)
print("Union of the two lists without duplicates:", union_list)

Union of the two lists without duplicates: [1, 2, 3, 4, 5, 6, 7, 8]

###20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [ ]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        # Swap elements at indices i and j
        lst[i], lst[j] = lst[j], lst[i]

# Example usage
input_list = [1, 2, 3, 4, 5]
shuffle_list(input_list)
print("Shuffled list:", input_list)

Shuffled list: [5, 3, 2, 4, 1]

###21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [ ]:
def common_elements(tuple1, tuple2):
    # Convert the tuples to sets and find the intersection
    common_set = set(tuple1) & set(tuple2)
    # Convert the set back to a tuple
    return tuple(common_set)

# Example usage
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result_tuple = common_elements(tuple1, tuple2)
print("Common elements in both tuples:", result_tuple)

Common elements in both tuples: (4, 5)

###22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [5]:
# Python3 program for intersection() function
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}
set3 = {4, 6, 8}

# intersection of two sets
print("set1 intersection set2 : ",
	set1.intersection(set2))

# intersection of three sets
print("set1 intersection set2 intersection set3 :",
	set1.intersection(set2, set3))

set1 intersection set2 :  {4, 6}
set1 intersection set2 intersection set3 : {4, 6}

###23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [6]:
# Python3 code to demonstrate working of
# Ways to concatenate tuples
# using + operator

# initialize tuples
test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)

# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))

# Ways to concatenate tuples
# using + operator
res = test_tup1 + test_tup2

# printing result
print("The tuple after concatenation is : " + str(res))

The original tuple 1 : (1, 3, 5)
The original tuple 2 : (4, 6)
The tuple after concatenation is : (1, 3, 5, 4, 6)

In [7]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples
    return tuple1 + tuple2

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print("Concatenated Tuple:", result)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

###24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [18]:
def find_unique_elements(set1, set2):
    """
    Finds and prints elements present in set1 but not in set2.

    Args:
        set1 (set): apple, banana, cherry, date.
        set2 (set): banana, date, fig, grape.
    """
    unique_elements = set1 - set2
    for element in unique_elements:
        print(element)

        # Find and print unique elements
    find_unique_elements(set1, set2)

###25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [19]:
def slice_tuple(tuple_input, start_index, end_index):
    """
    Slices a tuple and returns a new tuple containing elements within the specified range.

    Args:
        tuple_input (tuple): The input tuple.
        start_index (int): The starting index (inclusive).
        end_index (int): The ending index (exclusive).

    Returns:
        tuple: A new tuple containing the sliced elements.
    """

    if start_index < 0 or end_index > len(tuple_input):
        raise ValueError("Invalid indices: Indices must be within tuple bounds.")

    return tuple_input[start_index:end_index]

# Example usage:
my_tuple = (1, 2, 3, 4, 5, 6)
start_index = 2
end_index = 5

sliced_tuple = slice_tuple(my_tuple, start_index, end_index)
print(sliced_tuple)  # Output: (3, 4, 5)

(3, 4, 5)

###26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [9]:
def union_of_sets(set1, set2):
    """
    Calculates the union of two sets.

    Args:
        set1: The first set of characters.
        set2: The second set of characters.

    Returns:
        The union of the two sets.
    """

# Example usage
set1 = (1, 2, 3)
set2 = (4, 5, 6)
result = union_of_sets(set1, set2)
print("calculate union of two set:", result)

calculate union of two set: None

###27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [10]:
def find_max_min(tuple_input):
    """
    Finds the maximum and minimum values in a tuple.

    Args:
        tuple_input (tuple): The input tuple of integers.

    Returns:
        tuple: A tuple containing the maximum and minimum values.
    """

    max_value = min_value = tuple_input[0]  # Initialize with the first element

    for num in tuple_input[1:]:
        max_value = max(max_value, num)
        min_value = min(min_value, num)

    return max_value, min_value

# Example usage:
my_tuple = (10, 5, 20, 3, 15)
max_val, min_val = find_max_min(my_tuple)
print("Maximum value:", max_val)
print("Minimum value:", min_val)

Maximum value: 20
Minimum value: 3

###28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [11]:
def set_operations(set1, set2):
    """
    Performs union, intersection, and difference operations on two sets.

    Args:
        set1: The first set of integers.
        set2: The second set of integers.

    Returns:
        None
    """

    union_set = set1.union(set2)
    intersection_set = set1.intersection(set2)
    difference_set = set1.difference(set2)

    print("Union:", union_set)
    print("Intersection:", intersection_set)
    print("Difference 1  (set1 - set2):", difference_set)

if __name__ == "__main__":
    set1 = {1, 2, 3, 4, 5}
    set2 = {3, 4, 5, 6, 7}

    set_operations(set1, set2)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference 1  (set1 - set2): {1, 2}

###29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [12]:
def count_occurrences(tuple_input, element):
  """Counts the occurrences of an element in a tuple.

  Args:
    tuple_input: The input tuple.
    element: The element to count.

  Returns:
    The number of occurrences of the element in the tuple.
  """

  count = 0
  for item in tuple_input:
    if item == element:
      count += 1
  return count

# Example usage:
my_tuple = (1, 2, 3, 2, 1, 4, 2)
element_to_count = 2

result = count_occurrences(my_tuple, element_to_count)
print(f"The element {element_to_count} occurs {result} times in the tuple.")

The element 2 occurs 3 times in the tuple.

###30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [16]:
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}
print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

###31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [17]:
def word_frequency(words):
  """Calculates the frequency of each word in a list.

  Args:
    words: A list of words.

  Returns:
    A dictionary where keys are words and values are their frequencies.
  """

  word_counts = {}
  for word in words:
    word_counts[word] = word_counts.get(word, 0) + 1
  return word_counts

# Example usage:
word_list = ["apple", "banana", "apple", "cherry", "banana", "apple"]
result = word_frequency(word_list)
print(result)  # Output: {'apple': 3, 'banana': 2, 'cherry': 1}

{'apple': 3, 'banana': 2, 'cherry': 1}

###32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [19]:
def merge_dictionaries(dict1, dict2):
  """Merges two dictionaries, adding values for common keys.

  Args:
    dict1: The first dictionary.
    dict2: The second dictionary.

  Returns:
    A new dictionary with merged keys and added values.
  """

  merged_dict = dict1.copy()
  for key, value in dict2.items():
    merged_dict[key] = merged_dict.get(key, 0) + value
  return merged_dict

# Example usage:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5}

merged_dict = merge_dictionaries(dict1, dict2)
print(merged_dict)  # Output: {'a': 1, 'b': 6, 'c': 3, 'd': 5}

{'a': 1, 'b': 6, 'c': 3, 'd': 5}

###33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [18]:
def access_nested_value(dictionary, keys):
  """Accesses a value in a nested dictionary using a list of keys.

  Args:
    dictionary: The nested dictionary.
    keys: A list of keys to access the value.

  Returns:
    The value at the specified path, or None if any key is not found.
  """

  current_dict = dictionary
  for key in keys:
    if key not in current_dict:
      return None
    current_dict = current_dict[key]
  return current_dict

# Example usage:
nested_dict = {
    "a": {
        "b": {
            "c": 10
        }
    }
}

keys_to_access = ["a", "b", "c"]
value = access_nested_value(nested_dict, keys_to_access)
print(value)  # Output: 10

10

###34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [20]:
def sort_dict_by_value(dictionary, ascending=True):
  """Sorts a dictionary by its values.

  Args:
    dictionary: The input dictionary.
    ascending: Whether to sort in ascending or descending order.

  Returns:
    A sorted list of key-value pairs.
  """

  sorted_items = sorted(dictionary.items(), key=lambda x: x[1], reverse=not ascending)
  return sorted_items

# Example usage:
my_dict = {'a': 3, 'b': 1, 'c': 5, 'd': 2}

# Sort in ascending order
sorted_ascending = sort_dict_by_value(my_dict)
print(sorted_ascending)  # Output: [('b', 1), ('d', 2), ('a', 3), ('c', 5)]

# Sort in descending order
sorted_descending = sort_dict_by_value(my_dict, ascending=False)
print(sorted_descending)  # Output: [('c', 5), ('a', 3), ('d', 2), ('b', 1)]

[('b', 1), ('d', 2), ('a', 3), ('c', 5)]
[('c', 5), ('a', 3), ('d', 2), ('b', 1)]

###35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [21]:
def invert_dictionary(dictionary):
  """Inverts a dictionary, swapping keys and values.

  Args:
    dictionary: The input dictionary.

  Returns:
    The inverted dictionary, where values become keys and keys become values.
    If multiple keys have the same value, the value becomes a list of keys.
  """

  inverted_dict = {}
  for key, value in dictionary.items():
    if value not in inverted_dict:
      inverted_dict[value] = [key]
    else:
      inverted_dict[value].append(key)
  return inverted_dict

# Example usage:
original_dict = {'a': 1, 'b': 2, 'c': 2, 'd': 3}
inverted_dict = invert_dictionary(original_dict)
print(inverted_dict)  # Output: {1: ['a'], 2: ['b', 'c'], 3: ['d']}

{1: ['a'], 2: ['b', 'c'], 3: ['d']}